@charset "UTF-8";

:root { 
    --cor1: #011627;
    --cor2: #E71d36;
    --cor3: #90b494;
    --cor4: #E5a4cb;
    --cor5:  #14bdeb;
    --cor6: #000000;
    --cor7: #FFFFFF;
}


*{
    margin: 0px;
    padding: 0px;
}


.vazio {
    height: 55px;
}

main {
    width: 800px;
    margin: auto;
    border: 3px solid var(--cor1);
    box-shadow: 13px 15px 0px var(--cor2);
    padding: 20px 12px 15px 12px;
    background-color: var(--cor5);
}

body {
    background-color: var(--cor5);
    padding-bottom: 30px;
}

p {
    text-align: center;
    color: var(--cor6);
    text-align: justify;
    text-indent: 25px;
    line-height: 1.7em;
    margin-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
}

h2 {
    text-align: center;
    padding-bottom: 15px;
}

a {
    color: var(--cor3);
}

.video {
    width: 550px;
    margin: auto;
    background-color: var(--cor6);
    box-shadow: 9px 6px 0px var(--cor5);
}

.video:hover {
    box-shadow: 0px 0px 0px var(--cor3);
    border: 4px solid var(--cor3);
}

img {
    width: 100%;
}

audio {
    width: 100%;
    padding-bottom: 11px;
}



.multimidia {
    width: 800px;
    margin: auto;
    border: 1px solid var(--cor1);
    box-shadow: 13px 15px 0px var(--cor6);
}

.multimidia:hover {
    background-color: var(--cor1);
}


nav {
    width: 910px;
    height: 28px;
    border: 6px groove var(--cor3);
    margin: auto;
    margin-bottom: 15px;
    padding: 16px;
    background-color: var(--cor5);
    box-shadow: 6px 6px var(--cor6);
}

.v> .menu > li {
    background-color: var(--cor6);
    color: var(--cor7);
    float: left;
    width: 200px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 33px;
    font-size: 12px;
}
.v> .menu > li:hover {
    background-color: var(--cor7);
    font-size: 12px;
}
.v> .menu > li > a {
    text-decoration: none;
}
.v> .menu > li > ul > li > a {
    text-decoration: none;
}
.v> .menu > li > ul {
    display: none;
}
.v> .menu > li > ul > li {
    background-color: var(--cor2);
    list-style: none;
}
.v> .menu > li:hover {
    background-color: var(--cor2);
}
.v> .menu > li > ul > li:hover {
    background-color: var(--cor5);
}
.v> .menu > li:hover > ul {
    display: block;
    position: relative;
}
.v> .menu > .topic {
    color: var(--cor3);
    background-color: var(--cor5);
    font-weight: bold;
    font-size: 15px;

}
